<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course_module.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_module.description %>
</p>

<%= link_to 'Edit', edit_course_module_path(@course_module) %> |
<%= link_to 'Back', course_modules_path %>
